In [1]:
import pandas as pd
import re
import src.funciones as fs

## Importando y explorando el dataset

In [2]:
df = pd.read_csv("input/attacks.csv", engine = "python")

In [3]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
df.shape

(25723, 24)

In [5]:
df.head(25)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris �,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,...,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6292.0,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,...,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,...,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00-Brunning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.00,2018.05.00,6289.0,NaN,NaN
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,...,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12-EastLondon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0,NaN,NaN
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,...,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,NaN,NaN
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,...,NaN,"K. McMurray, TrackingSharks.com",2018.04.30.R-Thailand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.30.R,2018.04.30.R,6286.0,NaN,NaN
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,...,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.b,2018.04.28.b,6285.0,NaN,NaN
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,...,NaN,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0,NaN,NaN
20,2018.04.25.b,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,...,Questionable,"B. Myatt, GSAF",2018.04.25.b-Lee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.b,2018.04.25.b,6283.0,NaN,NaN
21,2018.04.25.a,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,3 m shark,"B.Myatt, GSAF",2018.04.25.a-Bruce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.a,2018.04.25.a,6282.0,NaN,NaN
22,2018.04.24,24-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Nathan Burch,M,...,"White shark, 3.5 m","B. Myatt, GSAF",2018.04.24-Burch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.24,2018.04.24,6281.0,NaN,NaN
23,2018.04.23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,...,Tiger shark,"K. McMurray, TrackingSharks.com",2018.04.23-Maldives.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.23,2018.04.23,6280.0,NaN,NaN
24,2018.04.22,22-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,...,"White shark, 2.5 m","Africa News Agency, 4/22/2018",2018.04.22-PlettenbergBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.22,2018.04.22,6279.0,NaN,NaN

## Selecciono las columnas que me interesan y arreglo los espacios de las columnas Sex y Species

In [6]:
df1 = df[['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ']]
df2 = df1.rename(columns = {'Sex ': 'Sex', 'Species ': 'Species'})
df2.head(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris �,M,NaN,"No injury, board bitten",N,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'"
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'"
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,Severe bite to right forearm,N,15h00,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m"
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,NaN
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,NaN,Minor injury to ankle,N,NaN,NaN
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,NaN,"No injury, knocked off board by shark",N,16h50,NaN

## Explorando las columnas para limpiarlas y buscar un supuesto interesante

In [7]:
df2.Country.groupby(df1["Country"]).count().sort_values(ascending = False)

Country
USA                      2229
AUSTRALIA                1338
SOUTH AFRICA              579
PAPUA NEW GUINEA          134
NEW ZEALAND               128
                         ...
NETHERLANDS ANTILLES        1
NEVIS                       1
NICARAGUA                   1
NORTH ATLANTIC OCEAN        1
 PHILIPPINES                1
Name: Country, Length: 212, dtype: int64

In [8]:
df2.Type.groupby(df1.Type).count().sort_values(ascending = False)

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [9]:
df2["Age"].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '� ', ' ', '30 or 36', '6�', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2�', '13 or 14'], dtype=object)

In [10]:
df2.Age[df2.Age == 'young'].count()

2

In [11]:
df2.Sex.value_counts()

M      5094
F       637
N         2
M         2
lli       1
.         1
Name: Sex, dtype: int64

In [12]:
df.Activity.value_counts()

Surfing                                                        971
Swimming                                                       869
Fishing                                                        431
Spearfishing                                                   333
Bathing                                                        162
                                                              ...
Onboard 21' powerboat that capsized in rough seas                1
Thrown into water from fishing dinghy                            1
Lying atop surfboard                                             1
Adrift after the sinking of the motor yacht Princess Dianne      1
Sinking of the cargo ship Mark Jason                             1
Name: Activity, Length: 1532, dtype: int64

In [13]:
df2.Sex.isnull().value_counts()

True     19986
False     5737
Name: Sex, dtype: int64

In [14]:
df2.Activity.isnull().value_counts()

True     19965
False     5758
Name: Activity, dtype: int64

In [15]:
df2.Age.isnull().value_counts()

True     22252
False     3471
Name: Age, dtype: int64

## Elijo el supuesto de que los tiburones atacan más a los hombres de 20 a 40 años haciendo actividades acuáticas, tales como, surfing, body board, buceo, paddle o natación.

In [16]:
df_clean = df2[["Activity", "Sex", "Age"]]
df_clean.head(25)

           Activity Sex  Age
0          Paddling   F   57
1          Standing   F   11
2           Surfing   M   48
3           Surfing   M  NaN
4       Free diving   M  NaN
5      Kite surfing   M  NaN
6          Swimming   M   18
7           Fishing   M   52
8           Walking   M   15
9          Standing   M   12
10   Feeding sharks   M   32
11  Boogie boarding   M   10
12         Swimming   M   10
13          Fishing   M   21
14   Feeding sharks   F   34
15          Surfing   M  NaN
16          Surfing   M  NaN
17         Swimming   M  NaN
18     Scuba diving   M   30
19          Surfing   M  NaN
20          Surfing   M  NaN
21          Surfing   M   60
22          Surfing   M  NaN
23          Fishing   M   32
24    Paddle-skiing   M   33

In [17]:
df_clean = df_clean.dropna(subset=["Activity", "Sex", "Age"]).reset_index()

In [18]:
df_clean.head(30)

    index                 Activity Sex Age
0       0                 Paddling   F  57
1       1                 Standing   F  11
2       2                  Surfing   M  48
3       6                 Swimming   M  18
4       7                  Fishing   M  52
5       8                  Walking   M  15
6       9                 Standing   M  12
7      10           Feeding sharks   M  32
8      11          Boogie boarding   M  10
9      12                 Swimming   M  10
10     13                  Fishing   M  21
11     14           Feeding sharks   F  34
12     18             Scuba diving   M  30
13     21                  Surfing   M  60
14     23                  Fishing   M  32
15     24            Paddle-skiing   M  33
16     25            Body boarding   M  29
17     26                 Swimming   M  54
18     27                 Swimming   M  34
19     28                  Surfing   M  41
20     29                  Surfing   M  37
21     31                  Fishing   M  56
22     33                 Swimming   M  12
23     34                  Surfing   M  19
24     35  Stand-Up Paddleboarding   M  25
25     36                   Wading   M  10
26     37                 Swimming   M  69
27     38                  Surfing   M  18
28     39             Scuba Diving   M  38
29     40                 Swimming   F  55

In [19]:
df_clean.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', 'Swimming', 'Fishing',
       'Walking', 'Feeding sharks', 'Boogie boarding', 'Scuba diving',
       'Paddle-skiing', 'Body boarding', 'Stand-Up Paddleboarding',
       'Wading', 'Scuba Diving', 'Kayak fishing for sharks',
       'Cleaning fish', 'Snorkeling', 'Spearfishing', 'Free diving',
       'Fishing / Wading', 'Night bathing', 'Surfing ',
       'Kayaking / Fishing', 'Body surfing', 'SUP', 'Skimboarding',
       'Kayaking', 'Touching a shark', 'Fishing ',
       'Attempting to lasso a shark', 'Paddle boarding', 'Kakaying',
       'Washing hands', 'Surf skiing ', 'Surf fishing', 'Floating',
       'Surfng', 'Kite surfing', 'SUP Foil boarding', 'Lobstering',
       'Floating in tube', 'Diving', 'Teasing a shark',
       'Diving for beche-de-mer', 'Feeding stingrays?', 'Windsurfing',
       'Sea disaster', 'Lobster fishing', 'Swimming / Wading',
       'Fishing for shrimp', 'Photographing fish', 'Kayak Fishing',
       'Surf-skiing', 'Scallop diving on hookah', 'Treading water',
       'Body boarding ', 'Playing in the water', 'Body Boarding',
       'Body surfing?', 'Playing', 'Attempting to rescue a shark',
       'Photographing the shark', 'Standing / Snorkeling',
       'Hand feeding sharks', 'Sitting in the water', 'Rowing',
       'Shark fishing', 'Filming', 'Swimming after falling overboard',
       'Standing in inner tube', 'Feeding fish', 'Kayaking ',
       'Playing with an air mattress', 'Shark diving',
       'Transatlantic Rowing', 'Kneeling in the water', 'Tagging sharks',
       'Fell into the water', 'Diving for lobsters', 'Kite Surfing',
       'Kitesurfing', 'Sailing', 'Spearfishing / Free diving',
       'Attempting to remove fishing net from submerged object',
       'Kiteboarding', 'Diving ', 'Swimming / snorkeling',
       'Diving for Abalone', 'Casting a net', 'Marathon swimming',
       'Longline fishing for sharks', 'Walking in surf', 'Swimming ',
       'Swimming & snorkeling', 'Boogie Boarding', 'Fishing for sharks',
       'Playing in the surf', 'Kite boarding', 'Fly fishing',
       "Fishing - 'tag & release'",
       'Swimming to shore with floatioon devices after boat engine conked out',
       'Dragging stranded shark into deeper water', 'Bathing',
       'Bodyboarding', 'Swimming or boogie boarding',
       'Wading or swimming', 'Free diving ',
       'Attempting to rescue an injured & beached shark',
       'Free diving / spearfishing', 'Diving, feeding sharks',
       'Attempting to Kite surf from Egypt to Saudi Arabia', 'Canoeing',
       'Jumping in the waves', 'Wade Fishing', 'Floating ',
       'Swimming or Snorkeling', 'Jet skiing',
       'Standing or boogie boardin', 'Kite Boarding',
       'Washing sand off a speared fish', 'Diving / fishing',
       'Wakeboarding', 'Diving for abalone',
       'Shark fishing on the Don Agust�n-VI. ', 'Attempting to fix motor',
       'Swimming /  Whale Watching',
       'Swimming after boat became disabled', 'Rescuing',
       'Measuring sharks', 'Swimming / treading water',
       'Spearfishing (free diving)', 'Paddling on kneeboard',
       'Swimming to shore from capsized kayak', 'Paddle-boarding',
       'Swimming, attempting to rescue a girl  believed to be drowning',
       'Crawling', 'Diving, but on the surface when bitten by the shark',
       'Fishing boat swamped in storm', 'Swimming, towing surfboard',
       'Rowing an inflatable dinghy', 'Night diving',
       'Walking out of the water after surfing', 'Fishing from surfski',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Removing fish from a trap', 'Wading?', 'Jumping',
       'Floating near boat & observing bioluminesce',
       'Jumped into the water', 'Reviving a sedated shark',
       'Shark tagging', 'Swimming / jumping off a jetty',
       'Playing on a sandbar', 'Swimming / Body Surfing',
       'Playing soccer in the water', 'Free diving / modeling',
       'Lifesaving drill',
       'Competing in the Woodvale Atlantic Rowing Race',
       'Diving for crayfish', 'Standing / Surfing',
       'Treading water/ Surfing', 'Removing shark from net',
       'Boogie boarding, kicked at object in the water',
       'Scuba diving in aquarium tank', 'Holding onto an inflatable boat',
       'Swimming with boogie board', 'Spearfishing (Free diving)',
       'Sea Disaster', 'Diving in aquarium display tank',
       'Fishing from a kayak',
       'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
       'Scurfing (surfboard being  towed behind a boat)',
       'Chumming for white sharks',
       'Wading / fishing & carrying a bag of fish',
       'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
       'Swimming, poaching perlemoen', 'Boogie-boarding / swimming',
       'Free diving & spearfishing', 'Tandem surfing',
       'Swimming / shipwreck', 'Surfing amid a shoal of sharks',
       'Swimming or surfing', 'Sitting on surfboard',
       'Wading near a fishing net', 'Wading to shore from his boat',
       'Standing, stepped on shark',
       'Swimming, wearing black wetsuit & swim fins', 'Surf skiing',
       'Walking, carrying surfboard & stepped on shark',
       'Swimming with pod of dolphins', 'Swimming (using a float)',
       'Unknown', "Fishing, standing in 2' of water",
       'Fishing from Surfboard', 'Boogie boarding or Surfing',
       'Wading, when he stepped on the shark', 'Shark Fishing',
       'Snorkeling (filming the sardine run)', 'Floating on a raft',
       'Fishing, removing the shark from his line',
       'Playing in the surf with his 2 dogs', 'Collecting beche-de-mer',
       'Fishing from prawn trawler',
       'Scallop diving (using surface-supplied air & a POD) ',
       'Fishing (Drowned 2-Apr-2002)',
       'Surfing, but standing in water alongside board', 'Body-boarding',
       'Swimming /  boogie boarding',
       'Surfing, fell off surfboard & stepped on the shark.',
       'Wreck / Technical diving', 'Walking in shallows',
       'Fell off banana boat', 'Floating face-down in knee-deep water',
       'Hiking on the beach', 'Standing alongside surfboard', 'Batin',
       'Attempting to catch a crocodile',
       'Swimming back from anchored sailboat', 'Diving for sea urchins',
       'Diving (shell maintenance)', 'Shipwrecked',
       'Fell onto dead shark', 'Standing / surfing',
       'Swimming / Body surfing', 'Windsurfing, but sitting on his board',
       'Surfing / Wading', 'Attempting to illegally enter the USA',
       'Spearfishing, holding mesh bag with speared fish',
       'Spearfishing, but swimming at surface',
       'Surfing, lying on surfboard', 'Wading to shore after surfing',
       'Wading with surfboard', "Lying prone in 2' of water",
       'Spearfishing & holding catch', 'Swimming with dolphins',
       'Wading in school of baitfish', 'Adrift in a life jacket',
       'Splashing / wading',
       'Swimming after being swept into sea by a large wave',
       'Swimming, towing a kayak', 'Body surfing or body boarding',
       'Swimming near pod of whales', 'Splashing', 'Fishing for tuna',
       'Surfing (or body boarding)', 'Free diving for abalone',
       'Swimming / surfing', 'Towing rubber dinghy',
       'Surfing (lying prone on his board)',
       'Snorkeling � hunting crayfish and abalone',
       'Swimming or paddle boarding',
       'Scuba diving (submerged riding a scooter)',
       'Body boarding or surfing', 'Walking / surfing',
       'Surfing (sitting on his board)', 'SCUBA diving',
       'Floating on raft', 'Wading / Surfing', 'Fishing for octopus',
       'Body surfing, stood up on sandbar', 'Rowing ',
       'Surfing / Swimming', 'Wade fishing', 'Tech diving ',
       'Shell Diving', 'Swimming breast stoke',
       'Fishing in knee-deep water',
       'Dived naked into the water on a bet', 'Swimming in fish tank',
       'Swimming with mask & snorkel', 'Diving, gathering shellfish',
       'Playing / standing',
       'Abalone diving using Hookah (near calving whales)',
       'Abalone diving using Hookah (resting on the surface)',
       'On a float', '"Riding waves on a board"',
       'Scuba diving (ascending using scooter)', 'Playing / jumping',
       'Sleeping in anchored boat', 'Scuba diving for bivalves',
       'Murder victim', 'Commercial diver (submerged or treading water)',
       'Surfing, paddling seawards', 'Adrift on refugee raft',
       'Jumped off rocks into white water', 'Freediving for seashells',
       'Swimming alongside NOAA research vessel Discoverer',
       'Removing shark from tank in nightclub ',
       'Swimming, after falling off towed kneeboard', 'Hookah diving',
       'Riding floatation device', 'Free diving for abalone (ascending)',
       'Paddling on surfboard or body board',
       'Scuba diving at seal colony', 'Floating on his back',
       'Paddling on surfboard', 'Free diving & spearfishing (ascending)',
       '   ',
       'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
       'Lying on surfboard', 'Spearfishing / free diving',
       'Scuba diving (submerged)', 'Hookah diving for sea urchins',
       'Snorkeling, carrying a speared fish in her hand', 'Scuba diving ',
       'Hookah diving for pen shells ', 'Finning the shark that bit him',
       'Swimming from makeshift raft  to life vest after fishing boat sank',
       'Swimming behind sailboat', 'Surfing, collided with shark',
       'Surfing (or sailboarding)',
       'Free diving / spearfishing, from paddleboard & floating on the surface',
       'Scuba diving (but on surface)',
       'Snorkeling, possibly holding a fish', 'Resting on surfboard',
       'Lying on surfboard & paddling', 'Free diving for trochus',
       'Board sailing', 'Swimming in canal',
       "Fishing, stepped on hooked shark's head",
       'Hookah diving for abalone (descending)', "Filming 5' blue shark",
       'Playing ', 'Scuba diving, but swimming on surface',
       'Surfing with dolphins',
       'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
       'Spearfishing on scuba', 'Sittting in water with his child',
       'Shell diving', 'Surfing / treading water', 'Standing ',
       'Lying atop surfboard', "Attempting to lasso shark's tail",
       'Scuba Diving for scallops',
       'Adrift after ditching plane in the sea',
       'Free diving  & spearfishing (submerged)', 'Racing ski',
       'Hookah diving for abalone',
       'Floating on inner tube after diving for lobster',
       'Playing in knee-deep water', 'Free diving for scallops',
       'Scuba Diving for lobster (at surface)',
       'Sailing on catamaran & fell into the water',
       'Surfing or body surfing', 'Skindiving', 'Boat capsized?',
       "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
       'Towing her sister on plastic ski board',
       'Scuba diving for abalone', 'Swimming from the New Venture ',
       '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
       'Floating on air mattress',
       'Surfing & dangling foot in water amid baitfish', 'Water-skiing',
       'Paddleskiing', 'Free diving for abalone from Zodiac (submerged)',
       'Paddle Boarding', 'Spearfishing ',
       "Diving to untangle a crab trap line from boat's propeller",
       "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
       'Snorkeling on surface', 'Standing / Wading',
       'Commercial spearfishing', 'Diving in tuna net',
       'Gaffing netted shark', 'Freedom swimming',
       'Floating with life preserver after his boat foundered',
       'Floating on inner tube raft',
       "Explosion destroyed 28' boat, survivors in the water ",
       'Swimming, after single-engine aircraft went down in the sea',
       'Floating on an inflatable raft',
       'Free diving for abalone (surfacing)', "40' fishing boat sank",
       'Spearfishing / Scuba diving', 'Collecting fish from net',
       'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
       "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
       'Hookah diving for abalone (submerged)',
       'Thrashing the water / imitating the shark victim from "Jaws"',
       'Skindiving,', 'Surfing, fell off surfboard',
       'Spearfishing / scuba diving', 'Scuba diving & spearfishing',
       'Filming & feeding captive sharks',
       'Floating on a small orange raft ',
       'Scuba diving for abalone (at surface)', 'Swimming near his boat',
       'Floating in inner tube',
       'Swimming underwater from crayfish cage to a fishing bait',
       'Crayfishing',
       '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
       'Freedom Swimming', 'Free diving for abalone (submerged)',
       'Adrift after the sinking of the motor yacht Princess Dianne',
       'Free diving (but on surface)', 'Sitting',
       'Swimming alongside yacht Mexico Fiesta',
       'Free diving, Spearfishing', 'Crabbing (spearing crabs)',
       'Sitting in shallows', 'Scuba diving & feeding fish',
       'Fishing for prawns', 'Shipwreck', 'Freediving',
       'Washing cooking pans', 'Washing clothes on stairs',
       'Fishing, trying to catch the end of his fishing line',
       'Hard hat diving', 'Feeding mullet to sharks', 'Dynamite fishing',
       'Spearfishing using Scuba', 'Clamming',
       'Diving. Shark �swallowed� his hand, so he threw his other around the shark and went �shark-back riding� for 30 yards until the shark opened its jaws',
       'Wading & pushing dinghy toward  the shallows',
       'Standing on sandbar', 'Pulling shark from the water',
       'Spearfishing, dived to pick up a float line',
       'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)',
       'Photographing sharks underwater using Scuba', 'Feeding a shark',
       'Swimming in the channel',
       'A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water',
       'Free diving, carrying speargun', 'Hunting crayfish ',
       'Diving into water', 'Attacked shark with fists',
       'Spearfishing on Scuba', 'Diving for sand dollars',
       'Killing a shark', 'Sinking of the dredge World Atlas',
       'Helping men land a shark',
       'Free diving / spearfishing (resting on the surface)',
       'Body surfing ', 'Spearfishing, but standing in knee-deep water',
       "Fishing from 34' boat when pulled overboard by hooked shark",
       'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
       'The boat Caribou II sank',
       'Sunbathing on beach when he saw child being attacked by the shark',
       'Spearfishing, shot a turtle', 'Walking on reef',
       'Motor boat Rebel Belle lost', 'Paddling rescue ski',
       'Dangling feet in the water',
       'Spearfishing, but standing in the water',
       'Canoe swamped, swimming back to canoe',
       'Fishing with hand line tied to wrist & was pulled into the water',
       'Free diving with seals',
       'Swimming out to rescue swimmers in difficulty',
       'Filming underwater, carrying powerhead',
       'Surfing, but swimming to his board',
       'Floating on his back in an inner tube',
       'Spearfishing using scuba',
       'Free diving / Spearfishingat edge of reef',
       'Searching for remains of  Dr. Marais',
       'Attempting to swim across the Atlantic Ocean', 'Skin diving',
       'Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help',
       'Skin diving ', 'Diving for trochus shell',
       'Spearfishing / Scuba diving (at surface)',
       'Helping friend land hooked shark', 'Splashing in surf',
       'Treading water while alongside capsized yacht',
       'Fishing / standing in waist deep water', 'Spearing fish',
       'Surf fishing, wading ', 'Spearfishing, pulled shark�s tail',
       'Swimming, when caught in heavy seas',
       'Fishing, on charter boat Silver Dollar',
       'Surfing on "chest board" (boogie board?)',
       'Free diving, hunting crayfish', 'Spearfishing, Scuba diving',
       "Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm",
       'When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
       'Spearfishing with Scuba gear', 'Surf fishing in waist-deep water',
       'Beach seine netting', 'Finning the shark', 'Fishing for albacore',
       'Playing in surf with his child  (9)', 'Dived from inner-tube',
       'Rolled off raft', 'Escaping from Alacatraz',
       'Scuba diving, attempting to catch a captive shark', 'Splashing ',
       'Fishing, slipped on rocks & fell into sea',
       "Fishing with hand net in 2' of water",
       'Surfing, pushing board ashore',
       'Swimming with other crew near wharf',
       'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
       'Net fishing, picking catch from the net',
       'Fishing (trolling)  from canoe', 'Scuba diving & spearfishing ',
       'Fishing, speared shark upset canoe & man fell in water',
       'Walking in chest-deep water',
       'Checking fish traps, fell into the water',
       'Swimming, using bundles of sticks as raft', 'Cleaning a tank',
       'Spearfishing, shark grabbed his white t-shirt and towed him ',
       'Collecting aquarium specimens', 'Free diving for molluscs',
       'Fishing, when line became snagged on rock & he dived into water to free it ',
       'Fell overboard, prop slashed arm',
       'Chasing shark out of bathing area while riding on a surf-ski',
       'Spearfishing, speared fish retreated to cave where shark grabbed his arm',
       'Ejected from F3H-2 aircraft ', 'Collecting shells',
       'Free diving / photography, kneeling on sand',
       'Swimming 3 miles offshore', 'Standing in knee-deep water',
       'Holding shark on leader & dangling it above the water',
       'Helping angler land a shark',
       'Fishing, Struck by another shark when removing shark from line',
       'Pulling raft out to ride to shore',
       'Fishing, tossing netted shark onboard',
       'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion',
       'Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
       'Spearfishing, free diving, possibly ascended into path of cruising shark',
       'Free diving but treading water at surface',
       'Skindiving for abalone (but at surface)',
       'Spearfishing, carrying fish on belt',
       'Wading, fishing for flounder',
       'Spear fishing, removing fish from spear',
       'Dived from dinghy to retrieve oar in heavy seas',
       'Spearfishing, Smith  & Walker touched shark with tip of their guns',
       '17 Maldivians adrift in open boat for 31 days',
       'Standing in chest-deep water',
       'Trailing the field in a surf race',
       "Swimming at surface through school of feeding 2.5' to 5� sharks",
       "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
       'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
       'Spearfishing with Joe Turner (24). Shark attracted to speared halibut on belt of one diver, tried to bite Ide�s speargun & he shot it in the mouth',
       'Spearfishing (but on surface)', 'Diving for pearl shell',
       'Lifeboat capsized', 'Bathing with sister', 'Working prawn net',
       'Washed overboard into school of fish', 'Swimming with motor tube',

In [20]:
df_clean.Sex.value_counts()

M      2854
F       443
M         1
lli       1
Name: Sex, dtype: int64

In [21]:
df_clean.Age.unique()

array(['57', '11', '48', '18', '52', '15', '12', '32', '10', '21', '34',
       '30', '60', '33', '29', '54', '41', '37', '56', '19', '25', '69',
       '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24', '26',
       '49', '22', '7', '31', '17', '40', '13', '42', '3', '8', '50',
       '16', '82', '73', '20s', '68', '51', '39', '58', '47', '61', '65',
       '36', '66', '43', '60s', '9', '72', '59', '6', '27', '64', '23',
       '71', '44', '62', '63', '70', '18 months', '53', '30s', '50s',
       'Teen', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '8 or 10', '84',
       '� ', ' ', '30 or 36', '6�', '21 & ?', '75', '33 or 37', '23 & 20',
       ' 30', '7      &    31', ' 28', '20?', "60's", '32 & 30', '87',
       '67', 'Elderly', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '17 & 35', 'X', '13 or 18', '34 & 19',
       '33 & 26', ' 43', '81', '"young"', '7 or 8', 'F', 'Both 11',
       '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14',
       '10 or 12', '31 or 33', '2�', '13 or 14'], dtype=object)

In [22]:
df_clean["Genre"] = df_clean.Sex.apply(lambda x: "M" if "M" in x else "F")
df_clean.Genre.value_counts()

M    2855
F     444
Name: Genre, dtype: int64

In [23]:
df_clean.head(30)

    index                 Activity Sex Age Genre
0       0                 Paddling   F  57     F
1       1                 Standing   F  11     F
2       2                  Surfing   M  48     M
3       6                 Swimming   M  18     M
4       7                  Fishing   M  52     M
5       8                  Walking   M  15     M
6       9                 Standing   M  12     M
7      10           Feeding sharks   M  32     M
8      11          Boogie boarding   M  10     M
9      12                 Swimming   M  10     M
10     13                  Fishing   M  21     M
11     14           Feeding sharks   F  34     F
12     18             Scuba diving   M  30     M
13     21                  Surfing   M  60     M
14     23                  Fishing   M  32     M
15     24            Paddle-skiing   M  33     M
16     25            Body boarding   M  29     M
17     26                 Swimming   M  54     M
18     27                 Swimming   M  34     M
19     28                  Surfing   M  41     M
20     29                  Surfing   M  37     M
21     31                  Fishing   M  56     M
22     33                 Swimming   M  12     M
23     34                  Surfing   M  19     M
24     35  Stand-Up Paddleboarding   M  25     M
25     36                   Wading   M  10     M
26     37                 Swimming   M  69     M
27     38                  Surfing   M  18     M
28     39             Scuba Diving   M  38     M
29     40                 Swimming   F  55     F

In [24]:
"""
def filtrowater(a):
    if "surf" in a.lower():
        return "IN WATER"
    elif "padd" in a.lower():
        return "IN WATER"
    elif "swimm" in a.lower():
        return "IN WATER"
    elif "diving" in a.lower():
        return "IN WATER"
    elif "boarding" in a.lower():
        return "IN WATER"
    else:
        return "OTHER"
"""

df_clean["Active"] = df_clean.Activity.apply(lambda x: fs.filtrowater(x))

In [25]:
df_clean["Active"].value_counts()

IN WATER    2097
OTHER       1202
Name: Active, dtype: int64

In [26]:
df_clean.head(25)

    index                 Activity Sex Age Genre    Active
0       0                 Paddling   F  57     F  IN WATER
1       1                 Standing   F  11     F     OTHER
2       2                  Surfing   M  48     M  IN WATER
3       6                 Swimming   M  18     M  IN WATER
4       7                  Fishing   M  52     M     OTHER
5       8                  Walking   M  15     M     OTHER
6       9                 Standing   M  12     M     OTHER
7      10           Feeding sharks   M  32     M     OTHER
8      11          Boogie boarding   M  10     M  IN WATER
9      12                 Swimming   M  10     M  IN WATER
10     13                  Fishing   M  21     M     OTHER
11     14           Feeding sharks   F  34     F     OTHER
12     18             Scuba diving   M  30     M  IN WATER
13     21                  Surfing   M  60     M  IN WATER
14     23                  Fishing   M  32     M     OTHER
15     24            Paddle-skiing   M  33     M  IN WATER
16     25            Body boarding   M  29     M  IN WATER
17     26                 Swimming   M  54     M  IN WATER
18     27                 Swimming   M  34     M  IN WATER
19     28                  Surfing   M  41     M  IN WATER
20     29                  Surfing   M  37     M  IN WATER
21     31                  Fishing   M  56     M     OTHER
22     33                 Swimming   M  12     M  IN WATER
23     34                  Surfing   M  19     M  IN WATER
24     35  Stand-Up Paddleboarding   M  25     M  IN WATER

In [27]:
"""
def edad(x):
    if "teen" in str(x).lower():
        return "15"
    elif "young" in str(x).lower():
        return "20"
    elif "adult" in str(x).lower():
        return "30"
    else:
        return x

def mes(x):
    if "month" in x.lower():
        return x.split(" ")[0]
    else:
        return x
"""

'\ndef edad(x):\n    if "teen" in str(x).lower():\n        return "15"\n    elif "young" in str(x).lower():\n        return "20"\n    elif "adult" in str(x).lower():\n        return "30"\n    else:\n        return x\n\ndef mes(x):\n    if "month" in x.lower():\n        return x.split(" ")[0]\n    else:\n        return x\n'

In [28]:
df_clean["Old"] = df_clean.Age.apply(lambda x: fs.edad(x))

In [29]:
df_clean["Old"] = df_clean.Old.apply(lambda x: fs.mes(x))

In [30]:
df_clean.Old.unique()

array(['57', '11', '48', '18', '52', '15', '12', '32', '10', '21', '34',
       '30', '60', '33', '29', '54', '41', '37', '56', '19', '25', '69',
       '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24', '26',
       '49', '22', '7', '31', '17', '40', '13', '42', '3', '8', '50',
       '16', '82', '73', '20s', '68', '51', '39', '58', '47', '61', '65',
       '36', '66', '43', '60s', '9', '72', '59', '6', '27', '64', '23',
       '71', '44', '62', '63', '70', '53', '30s', '50s', '77', '74',
       '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34',
       '28, 23 & 30', '8 or 10', '84', '� ', ' ', '30 or 36', '6�',
       '21 & ?', '75', '33 or 37', '23 & 20', ' 30', '7      &    31',
       ' 28', '20?', "60's", '32 & 30', '87', '67', 'Elderly', '74 ',
       '45 ', '21 or 26', '20 ', '>50', '18 to 22', '? & 19', '25 to 35',
       '23 & 26', '1', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '17 & 35', 'X', '13 or 18', '34 & 19',
       '33 & 26', ' 43', '81', '7 or 8', 'F', 'Both 11', '9 or 10',
       '36 & 23', '  ', '78', 'A.M.', '?    &   14', '10 or 12',
       '31 or 33', '2�', '13 or 14'], dtype=object)

In [31]:
"""
def qs(x):
    if "s" in str(x):
        return x[0:2]
    elif "� " == str(x):
        return "9"
    elif "�" in str(x):
        return x[0]+"0"
    elif ">50" == str(x):
        return "55"
    elif "Both" in str(x):
        return "11"
    else:
        return x
        
"""

'\ndef qs(x):\n    if "s" in str(x):\n        return x[0:2]\n    elif "� " == str(x):\n        return "9"\n    elif "�" in str(x):\n        return x[0]+"0"\n    elif ">50" == str(x):\n        return "55"\n    elif "Both" in str(x):\n        return "11"\n    else:\n        return x\n        \n'

In [32]:
df_clean["Old"] = df_clean.Old.apply(lambda x: fs.qs(x))

In [33]:
df_clean.Old.unique()

array(['57', '11', '48', '18', '52', '15', '12', '32', '10', '21', '34',
       '30', '60', '33', '29', '54', '41', '37', '56', '19', '25', '69',
       '38', '55', '35', '46', '45', '14', '40', '28', '20', '24', '26',
       '49', '22', '7', '31', '17', '13', '42', '3', '8', '50', '16',
       '82', '73', '68', '51', '39', '58', '47', '61', '65', '36', '66',
       '43', '9', '72', '59', '6', '27', '64', '23', '71', '44', '62',
       '63', '70', '53', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', '8 or 10', '84', ' ',
       '30 or 36', '21 & ?', '75', '33 or 37', '23 & 20', ' 30',
       '7      &    31', ' 28', '20?', '32 & 30', '87', '67', 'Elderly',
       '74 ', '45 ', '21 or 26', '20 ', '18 to 22', '? & 19', '25 to 35',
       '23 & 26', '1', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '17 & 35', 'X', '13 or 18', '34 & 19',
       '33 & 26', ' 43', '81', '7 or 8', 'F', '9 or 10', '36 & 23', '  ',
       '78', 'A.M.', '?    &   14', '10 or 12', '31 or 33', '13 or 14'],
      dtype=object)

In [34]:
df_clean.Old.value_counts()

15          147
17          144
20          143
18          141
19          138
           ...
67            1
86            1
13 or 18      1
23 & 20       1
A.M.          1
Name: Old, Length: 126, dtype: int64

In [35]:
"""
def or_to(x):
    if "or" in str(x):
        a = int(x.split(" or ")[0])
        b = int(x.split(" or ")[-1])
        return str((a+b)//2) 
    elif "to" in str(x):
        a = int(x.split(" to ")[0])
        b = int(x.split(" to ")[-1])
        return str((a+b)//2)
    else:
        return x
"""

'\ndef or_to(x):\n    if "or" in str(x):\n        a = int(x.split(" or ")[0])\n        b = int(x.split(" or ")[-1])\n        return str((a+b)//2) \n    elif "to" in str(x):\n        a = int(x.split(" to ")[0])\n        b = int(x.split(" to ")[-1])\n        return str((a+b)//2)\n    else:\n        return x\n'

In [36]:
df_clean["Old"] = df_clean.Old.apply(lambda x: fs.or_to(x))

In [37]:
df_clean.Old.unique()

array(['57', '11', '48', '18', '52', '15', '12', '32', '10', '21', '34',
       '30', '60', '33', '29', '54', '41', '37', '56', '19', '25', '69',
       '38', '55', '35', '46', '45', '14', '40', '28', '20', '24', '26',
       '49', '22', '7', '31', '17', '13', '42', '3', '8', '50', '16',
       '82', '73', '68', '51', '39', '58', '47', '61', '65', '36', '66',
       '43', '9', '72', '59', '6', '27', '64', '23', '71', '44', '62',
       '63', '70', '53', '77', '74', '28 & 26', '5', '86', '46 & 34',
       '28, 23 & 30', '84', ' ', '21 & ?', '75', '23 & 20', ' 30',
       '7      &    31', ' 28', '20?', '32 & 30', '87', '67', 'Elderly',
       '74 ', '45 ', '20 ', '? & 19', '23 & 26', '1', '33 & 37',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '17 & 35',
       'X', '34 & 19', '33 & 26', ' 43', '81', 'F', '36 & 23', '  ', '78',
       'A.M.', '?    &   14'], dtype=object)

In [38]:
df_clean.Old.shape

(3299,)

In [39]:
"""

def and_esp_str(x):
    pattern = r"\d+"
    res = re.findall(pattern,x) 
    if res:
        if len(res)>1:
            suma = 0
            for j in res:
                j = int(j)
                suma += j
            return str(suma//len(res))
        elif len(res) == 1:
            return res[0]
    else:
        return None
        
"""

'\n\ndef and_esp_str(x):\n    pattern = r"\\d+"\n    res = re.findall(pattern,x) \n    if res:\n        if len(res)>1:\n            suma = 0\n            for j in res:\n                j = int(j)\n                suma += j\n            return str(suma//len(res))\n        elif len(res) == 1:\n            return res[0]\n    else:\n        return None\n        \n'

In [40]:
df_clean["Old"] = df_clean.Old.apply(lambda x: fs.and_esp_str(x))

In [41]:
df_clean.Old.unique()

array(['57', '11', '48', '18', '52', '15', '12', '32', '10', '21', '34',
       '30', '60', '33', '29', '54', '41', '37', '56', '19', '25', '69',
       '38', '55', '35', '46', '45', '14', '40', '28', '20', '24', '26',
       '49', '22', '7', '31', '17', '13', '42', '3', '8', '50', '16',
       '82', '73', '68', '51', '39', '58', '47', '61', '65', '36', '66',
       '43', '9', '72', '59', '6', '27', '64', '23', '71', '44', '62',
       '63', '70', '53', '77', '74', '5', '86', '84', None, '75', '87',
       '67', '1', '81', '78'], dtype=object)

In [42]:
df_clean.Old.shape

(3299,)

In [43]:
df_clean.tail(30)

,index,Activity,Sex,Age,Genre,Active,Old
3269,5963,Swimming,M,28,M,IN WATER,28
3270,5968,Swimming,M,18,M,IN WATER,18
3271,5987,Fell overboard,M,21,M,OTHER,21
3272,5991,Bathing,M,22,M,OTHER,22
3273,5996,Swimming,M,22,M,IN WATER,22
3274,5998,Swimming,M,17,M,IN WATER,17
3275,6002,Fell overboard from the Malacca,F,2�,F,OTHER,20
3276,6036,Swimming,M,15,M,IN WATER,15
3277,6041,Swimming,M,19,M,IN WATER,19
3278,6061,Swimming,M,15,M,IN WATER,15
3279,6063,Washed off catamaran in the surf,M,7 or 8,M,IN WATER,7
3280,6077,Washing his feet,M,12,M,OTHER,12
3281,6089,"Fishing from dory, shark upset boat & he fell ...",M,52,M,OTHER,52
3282,6096,"British ship, Britannia, was loading lumber. ...",M,17,M,OTHER,17
3283,6114,Swimming,M,22,M,IN WATER,22
3284,6143,Surfing,M,young,M,IN WATER,20
3285,6152,Swimming,M,14,M,IN WATER,14
3286,6160,Swimming,M,19,M,IN WATER,19
3287,6184,Swimming/,M,20,M,IN WATER,20
3288,6200,Shark tagging,F,21,F,OTHER,21
3289,6226,Skin diving. Grabbed shark's tail; shark turne...,M,19,M,IN WATER,19
3290,6238,Spearfishing,M,27,M,OTHER,27
3291,6239,Skindiving,M,36,M,IN WATER,36
3292,6241,Fishing from a small boat & put his hand in th...,M,25,M,OTHER,25
3293,6242,Swimming naked near a date palm where many dat...,M,6,M,IN WATER,6
3294,6243,Swimming in section of river used for washing ...,M,16,M,IN WATER,16
3295,6254,"Shark fishing, knocked overboard",M,50,M,OTHER,50
3296,6265,Swimming,M,13 or 14,M,IN WATER,13
3297,6276,Standing,M,16,M,OTHER,16
3298,6301,Swimming,M,15,M,IN WATER,15

In [44]:
df_clean.Old.apply(lambda x: True if x == None else False).value_counts()

False    3293
True        6
Name: Old, dtype: int64

In [45]:
df_clean = df_clean.dropna()

In [46]:
df_clean.shape

(3293, 7)

In [47]:
df["Old"] = df_clean.Old.apply(lambda x: int(x))

In [48]:
df_clean.head(30)

    index                 Activity Sex Age Genre    Active Old
0       0                 Paddling   F  57     F  IN WATER  57
1       1                 Standing   F  11     F     OTHER  11
2       2                  Surfing   M  48     M  IN WATER  48
3       6                 Swimming   M  18     M  IN WATER  18
4       7                  Fishing   M  52     M     OTHER  52
5       8                  Walking   M  15     M     OTHER  15
6       9                 Standing   M  12     M     OTHER  12
7      10           Feeding sharks   M  32     M     OTHER  32
8      11          Boogie boarding   M  10     M  IN WATER  10
9      12                 Swimming   M  10     M  IN WATER  10
10     13                  Fishing   M  21     M     OTHER  21
11     14           Feeding sharks   F  34     F     OTHER  34
12     18             Scuba diving   M  30     M  IN WATER  30
13     21                  Surfing   M  60     M  IN WATER  60
14     23                  Fishing   M  32     M     OTHER  32
15     24            Paddle-skiing   M  33     M  IN WATER  33
16     25            Body boarding   M  29     M  IN WATER  29
17     26                 Swimming   M  54     M  IN WATER  54
18     27                 Swimming   M  34     M  IN WATER  34
19     28                  Surfing   M  41     M  IN WATER  41
20     29                  Surfing   M  37     M  IN WATER  37
21     31                  Fishing   M  56     M     OTHER  56
22     33                 Swimming   M  12     M  IN WATER  12
23     34                  Surfing   M  19     M  IN WATER  19
24     35  Stand-Up Paddleboarding   M  25     M  IN WATER  25
25     36                   Wading   M  10     M     OTHER  10
26     37                 Swimming   M  69     M  IN WATER  69
27     38                  Surfing   M  18     M  IN WATER  18
28     39             Scuba Diving   M  38     M  IN WATER  38
29     40                 Swimming   F  55     F  IN WATER  55

In [49]:
bins = ["0", "19", "39", "59", "79", "99"]
labels = ["JOVEN", "ADULTO", "MEDIANA EDAD", "AVANZADA EDAD", "ANCIANO"]

df_clean["edad_representativa"] = pd.cut(df_clean.Old, bins = bins, labels = labels)

In [50]:
df_clean.head(30)

,index,Activity,Sex,Age,Genre,Active,Old,edad_representativa
0,0,Paddling,F,57,F,IN WATER,57,MEDIANA EDAD
1,1,Standing,F,11,F,OTHER,11,JOVEN
2,2,Surfing,M,48,M,IN WATER,48,MEDIANA EDAD
3,6,Swimming,M,18,M,IN WATER,18,JOVEN
4,7,Fishing,M,52,M,OTHER,52,MEDIANA EDAD
5,8,Walking,M,15,M,OTHER,15,JOVEN
6,9,Standing,M,12,M,OTHER,12,JOVEN
7,10,Feeding sharks,M,32,M,OTHER,32,ADULTO
8,11,Boogie boarding,M,10,M,IN WATER,10,JOVEN
9,12,Swimming,M,10,M,IN WATER,10,JOVEN
10,13,Fishing,M,21,M,OTHER,21,ADULTO
11,14,Feeding sharks,F,34,F,OTHER,34,ADULTO
12,18,Scuba diving,M,30,M,IN WATER,30,ADULTO
13,21,Surfing,M,60,M,IN WATER,60,AVANZADA EDAD
14,23,Fishing,M,32,M,OTHER,32,ADULTO
15,24,Paddle-skiing,M,33,M,IN WATER,33,ADULTO
16,25,Body boarding,M,29,M,IN WATER,29,ADULTO
17,26,Swimming,M,54,M,IN WATER,54,MEDIANA EDAD
18,27,Swimming,M,34,M,IN WATER,34,ADULTO
19,28,Surfing,M,41,M,IN WATER,41,MEDIANA EDAD
20,29,Surfing,M,37,M,IN WATER,37,ADULTO
21,31,Fishing,M,56,M,OTHER,56,MEDIANA EDAD
22,33,Swimming,M,12,M,IN WATER,12,JOVEN
23,34,Surfing,M,19,M,IN WATER,19,JOVEN
24,35,Stand-Up Paddleboarding,M,25,M,IN WATER,25,ADULTO
25,36,Wading,M,10,M,OTHER,10,JOVEN
26,37,Swimming,M,69,M,IN WATER,69,AVANZADA EDAD
27,38,Surfing,M,18,M,IN WATER,18,JOVEN
28,39,Scuba Diving,M,38,M,IN WATER,38,ADULTO
29,40,Swimming,F,55,F,IN WATER,55,MEDIANA EDAD

In [51]:
df_final = df_clean[["Genre", "Active", "edad_representativa"]]
df_final.head(25)

   Genre    Active edad_representativa
0      F  IN WATER        MEDIANA EDAD
1      F     OTHER               JOVEN
2      M  IN WATER        MEDIANA EDAD
3      M  IN WATER               JOVEN
4      M     OTHER        MEDIANA EDAD
5      M     OTHER               JOVEN
6      M     OTHER               JOVEN
7      M     OTHER              ADULTO
8      M  IN WATER               JOVEN
9      M  IN WATER               JOVEN
10     M     OTHER              ADULTO
11     F     OTHER              ADULTO
12     M  IN WATER              ADULTO
13     M  IN WATER       AVANZADA EDAD
14     M     OTHER              ADULTO
15     M  IN WATER              ADULTO
16     M  IN WATER              ADULTO
17     M  IN WATER        MEDIANA EDAD
18     M  IN WATER              ADULTO
19     M  IN WATER        MEDIANA EDAD
20     M  IN WATER              ADULTO
21     M     OTHER        MEDIANA EDAD
22     M  IN WATER               JOVEN
23     M  IN WATER               JOVEN
24     M  IN WATER              ADULTO

In [52]:
df_final.edad_representativa.value_counts()

ADULTO           1509
JOVEN            1042
MEDIANA EDAD      542
AVANZADA EDAD     133
ANCIANO            67
Name: edad_representativa, dtype: int64

In [60]:
df_final.to_csv("df_sharks_limpito.csv")